<launch>

  <arg name="namespace"  default="ball"/>
  <arg name="simulation"        default="true"/>
  <arg name="debug"             default="true"/>

  <arg name="description_file"  default="$(find gopigo_description)/urdf/ball.urdf.xacro" />
  <arg name="ball_name"        default="ball"/>

  <group ns="$(arg namespace)">
    <param name="ball_description"
       command="$(find xacro)/xacro --inorder $(arg description_file)" />

    <!-- SPAWNER-->
    <node name="spawner_ball" pkg="gazebo_ros" type="spawn_model" respawn="false"
       args="-urdf -model $(arg namespace) -param ball_description -x 0.5 -y 0 -z 0.06" />

  </group>

</launch>
