<launch>

  <arg name="namespace"  default="field"/>
  <arg name="simulation"        default="true"/>
  <arg name="debug"             default="true"/>

  <arg name="description_file"  default="$(find gopigo_description)/urdf/football_field.urdf.xacro" />
  <arg name="field_name"        default="field"/>

  <group ns="$(arg namespace)">
    <param name="field_description"
       command="$(find xacro)/xacro --inorder $(arg description_file)" />

    <!-- SPAWNER-->
    <node name="spawner_ball" pkg="gazebo_ros" type="spawn_model" respawn="false"
       args="-urdf -model $(arg namespace) -param field_description -x 0 -y 0 -z 0.001" />

  </group>

</launch>
