<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find cri_efe_aruco)/urdf/single_markers/marker_6.urdf.xacro"/>
  <xacro:include filename="$(find cri_efe_aruco)/urdf/single_markers/marker_7.urdf.xacro"/>
  <xacro:include filename="$(find cri_efe_aruco)/urdf/single_markers/marker_8.urdf.xacro"/>
  <xacro:include filename="$(find cri_efe_aruco)/urdf/single_markers/marker_9.urdf.xacro"/>
  <xacro:include filename="$(find cri_efe_aruco)/urdf/single_markers/marker_10.urdf.xacro"/>
  <xacro:include filename="$(find cri_efe_aruco)/urdf/single_markers/marker_11.urdf.xacro"/>


  <xacro:property name="m_d"     value= "0.11"  /> <!-- [m] -->


  <xacro:macro name="multi_marker_1" params="pad_base x y z yaw scale ">
    <xacro:property name="m_d_x"     value= "${m_d*cos(yaw)}"  /> <!-- [m] -->
    <xacro:property name="m_d_y"     value= "${m_d*sin(yaw)}"  /> <!-- [m] -->

    <!-- Pad-->
    <joint name="$multi_marker_1_pad_joint" type="fixed">
      <parent link="${pad_base}"/>
      <child link="multi_marker_base_1" />
      <origin xyz="${x} ${y} ${z}" rpy="0 0 ${yaw+3.14}"/>
    </joint>

    <link name="multi_marker_base_1">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="${scale*0.1} ${scale*0.1} ${0.0001}"/>
        </geometry>
        <material name="black" />
      </visual>
    </link>


    <xacro:marker_9 name="marker9" pad_base="${pad_base}" marker_pos="${x+scale*(-m_d_y/2+m_d_x)} ${y+scale*(m_d_x/2+m_d_y)} ${z}" marker_ori="0 0 ${yaw+3.14}" scale="${scale}"/>

    <xacro:marker_6 name="marker6" pad_base="${pad_base}" marker_pos="${x+scale*(m_d_y/2+m_d_x)} ${y+scale*(-m_d_x/2+m_d_y)} ${z}" marker_ori="0 0 ${yaw-3.14}" scale="${scale}"/>

    <xacro:marker_10 name="marker10" pad_base="${pad_base}" marker_pos="${x-scale*m_d_y/2} ${y+scale*m_d_x/2} ${z}" marker_ori="0 0 ${yaw+3.14}" scale="${scale}"/>

    <xacro:marker_7 name="marker7" pad_base="${pad_base}" marker_pos="${x+scale*m_d_y/2} ${y-scale*m_d_x/2} ${z}" marker_ori="0 0 ${yaw+3.14}" scale="${scale}"/>

    <xacro:marker_11 name="marker11" pad_base="${pad_base}" marker_pos="${x+scale*(-m_d_y/2-m_d_x)} ${y+scale*(m_d_x/2-m_d_y)} ${z}" marker_ori="0 0 ${yaw+3.14}" scale="${scale}"/>

    <xacro:marker_8 name="marker8" pad_base="${pad_base}" marker_pos="${x+scale*(m_d_y/2-m_d_x)} ${y+scale*(-m_d_x/2-m_d_y)} ${z}" marker_ori="0 0 ${yaw+3.14}" scale="${scale}"/>


  </xacro:macro>

</robot>
