<launch>

    <arg name="arm"  default="false"/>
    <arg name="humanoid" default="true"/>

    <group if="$(arg arm)">
      <rosparam param="robot_state_size"> 6 </rosparam>
    </group>

    <group if="$(arg humanoid)">
      <rosparam param="robot_state_size"> 37 </rosparam>
    </group>

    <node pkg="robotic_tutorial" name="joint_state_publisher" type="jointStatePublisher.py"  output="screen">
      <remap from="/robotJointStates" to="/cmd_vel"/>
    </node>

</launch>
